.atxt{
    color: white;
    position: relative;
    bottom: 8rem;
    font-family: 'Inter', sans-serif;
    
}


.p1{
    position: relative;
    color: white;
    bottom: 0rem;
    font-family: 'Roboto', sans-serif;
}